html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
	background: #F4F4F6;
}
a {
	text-decoration: none;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100px;
	background: white;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.10);
	z-index: 100;
}
header h1 {
	font-weight: 500;
}
#menu-icon {
	width: 100%;
	height: auto;
	max-width: 30px;
	max-height: 30px;
}
#search-icon {
	width: 100%;
	height: auto;
	max-width: 30px;
	max-height: 30px;
}
section {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: calc(100% - 100px);
	margin: 75px 0 0 0;
}
section h1 {
	font-weight: 400;
	font-size: 4rem;
	margin: 10vw 0 0 100px;
}
section h1 span {
	color: #00A4E0;
}
section form {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 10vw;
	width: 100%;
	max-width: 425px;
	height: 100%;
	min-height: 425px;
	max-height: 550px;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.10);
}
section form input {
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	padding: 1.25rem 0 1.25rem 0;
	text-align: center;
}
section form input:focus {
	outline: none;
	border-bottom: 1px solid #00A4E0;
}
section form .body {
	padding: 0 2rem;
}
section form .body label {
	color: #424242;
	display: flex;
	flex-direction: row;
	align-items: center;
}
section form .body label input {
	width: auto;
	height: auto;
	margin: 0 10px 0 0;
}
input:placeholder-shown {
	opacity: 0.75;
}
input::-webkit-input-placeholder {
	opacity: 0.75;
}
input::-moz-placeholder {
	opacity: 0.75;
}
input::-ms-input-placeholder {
	opacity: 0.75;
}
input::-moz-placeholder {
	opacity: 0.75;
}
#username {
	background: url(user-icon.svg) no-repeat 25px center;
	background-size: 18px 18px;
}
#username:focus {
	background: url(user-icon-active.svg) no-repeat 25px center;
	background-size: 18px 18px;
}
#password {
	background: url(password-icon.svg) no-repeat 25px center;
	background-size: 20px 20px;
}
#password:focus {
	background: url(password-icon-active.svg) no-repeat 25px center;
	background-size: 20px 20px;
}
section form input[type=password] {
	margin: 25px 0 0 0;
}
section form h1 {
	margin: 2rem 0 0 0;
	text-align: center;
	font-size: 3rem;
}
section form div.loginSignUpButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 2.5rem 0;
}
section form .footer {
	text-align: center;
	margin: 25px 0 0 0;
}
section form .footer a {
	font-size: 0.8rem;
	color: #424242;
}
section form .footer a:hover, section form .footer a:focus {
	color: #0645AD;
}
button {
	cursor: pointer;
}
button.login {
	margin: 0 20px 0 0;
}
button.sign-up {
	margin: 0 0 0 20px;
}
button.btn {
	width: 125px;
	height: auto;
	padding: 15px
}
button.square {
	border-radius: 0;
}
button.round {
	border-radius: 125px;
}
button.fill {
	color: white;
	border: none;
	background: black;
}
button.stroke {
	color: black;
	border: 2px solid black;
	background: transparent;
}
#background-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

@media (max-width: 992px) {
	section div.left-col {
		display: none;
	}
	section form {
		right: 0;
		left: 0;
	}
}